name: Release Plugin

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Get Version
        run: |
          version=$(node -p "require('./manifest.json').version")
          echo "VERSION=$version" >> "$GITHUB_ENV"

      - name: Run ESLint
        run: npx eslint .

      - name: Clean previous artifacts
        run: rm -f ./marginalia/main.js ./marginalia/manifest.json ./marginalia/styles.css

      - name: Build plugin
        run: npm run build

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          draft: false
          prerelease: false
          files: |
            ./marginalia/main.js
            ./marginalia/manifest.json
            ./marginalia/styles.css
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
